.slide{
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    .container{
        width: 85%;

        h1{
            margin-bottom: 25px;
            margin-left: 14px;
            font-weight: 500;
        }

        .carousel-prev,.carousel-next{
            width: 50px;
            height: 50px;
            background-color: lightgray;
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}