.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #013914;
    color: white;
    transition: 0.5s all ease;
    position: sticky;
    top: 0;

    &.active{
        background-color: #fbfbfb;
        color: black;
    }
    .container{
        width: 75%;
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        .logo{
            font-size: 34px;
            font-weight: bold;
            // .text{}
            .dot{
                color: #1dbf73;
            }
        }
        .links{
            display: flex;
            gap: 24px;
            align-items: center;
            font-weight: 500;
            font-family: "Momtserrat", sans-serif;

            .user{
                display: flex;
                align-items: center;
                gap: 10px;
                position: relative;
                cursor: pointer;

                img{
                    border-radius: 50%;
                    height: 32px;
                    width: 32px;
                    object-fit: cover;
                }

                .options{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    position: absolute;
                    top: 50px;
                    padding: 20px;
                    background-color: white;
                    border-radius: 10px;
                    border: 1px solid gray;
                    color: gray;
                    width: 200px;
                    font-weight: 300;

                    span{
                        &:hover{
                            background-color: lightgray;
                            cursor: pointer;
                            border-radius: 5px;
                            padding: 3px;
                        }
                    }
                }
            }
            button{
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                border: 1px solid white;
                cursor: pointer;
                background-color: transparent;

                &:hover{
                    background-color: #1dbf73;
                    border-color: #1dbf73;
                }
            }
        }
    }
    hr{
        width: 100%;
        height: 0;
        border: 0.5px solid lightgray;

    }
    .menu{
        display: flex;
        width: 75%;
        padding: 10px 0px;
        justify-content: space-between;
        font-weight: 300;
        color: gray;
        font-family: "Momtserrat", sans-serif;
        font-size: 14px;
        // background-color: white;
    }
}